@model Checklists.ViewModels.ChecklistFormViewModel

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Checklists"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control"})
        <span>
            @Html.ValidationMessageFor(m => m.Name)
        </span>
    </div>

    @Html.HiddenFor(m => m.Id);
    @Html.AntiForgeryToken()
    
    <button type="submit" class="btn btn-primary">Save</button>
}
