@model Checklists.Models.Checklist

@{
    ViewBag.Title = Model.Name;
}

<div class="page-header">
    <h2>
        @Model.Name
        <small class="pull-right">
            <a href="@Url.Action("New", "TodoItems")" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Add item
            </a>
        </small>
    </h2>
</div>

@if (Model.TodoItems.Any())
{
    <form id="todo-items">
        <ul class="list-group">
            @foreach (var item in Model.TodoItems)
            {
                <li class="list-group-item">
                    <input type="checkbox" class="js-check-toggle" checked="@item.Checked" data-item-id="@item.Id" />
                    @item.Title
                </li>
            }
        </ul>
    </form>
}
else
{
    <p>There are no to-do items. <a href="@Url.Action("New", "TodoItems")">Create a new to-do item</a>.</p>
}


@section scripts {
    <script>
        $(document).ready(function() {
            $("#todo-items").on("change",
                ".js-check-toggle",
                function() {

                    var checkbox = $(this);

                    if (checkbox.attr("checked") === "checked") {
                        $.ajax({
                            url: "/api/todoitems/" + checkbox.attr("data-item-id") + "/check",
                            method: "DELETE",
                            success: function () {
                                checkbox.removeAttr("checked");
                            }
                        });
                    } else {
                        $.ajax({
                            url: "/api/todoitems/" + checkbox.attr("data-item-id") + "/check",
                            method: "PUT",
                            success: function () {
                                checkbox.attr("checked", "checked");
                            }
                        });
                    }
                });
        });
    </script>
}