@model Checklists.Models.Checklist

@{
    ViewBag.Title = Model.Name;
}

<div class="page-header">
    <h2>
        @Model.Name
        <small class="pull-right">
            <a href="@Url.Action("New", "TodoItems")" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Add item
            </a>
        </small>
    </h2>
</div>

@if (Model.ActiveTodoItems.Any())
{
    <form id="todo-items">
        <ul class="list-group">
            @foreach (var item in Model.ActiveTodoItems)
            {
                <li class="list-group-item">
                    <input type="checkbox" class="js-check-toggle" checked="@item.Checked" data-item-id="@item.Id" />
                    @item.Title
                    
                    <ul class="list-inline pull-right">
                        <li>
                            <a href="@Url.Action("Edit", new {ChecklistId = @item.ChecklistId, Id = @item.Id})">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="js-delete" data-item-id="@item.Id">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </li>
                    </ul>
                </li>
            }
        </ul>
    </form>
}
else
{
    <p>There are no to-do items. <a href="@Url.Action("New", "TodoItems")">Create a new to-do item</a>.</p>
}


@section scripts {
    <script>
        $(document).ready(function() {
            $("#todo-items").on("change",
                ".js-check-toggle",
                function() {

                    var checkbox = $(this);

                    if (checkbox.attr("checked") === "checked") {
                        $.ajax({
                            url: "/api/todoitems/" + checkbox.attr("data-item-id") + "/check",
                            method: "DELETE",
                            success: function() {
                                checkbox.removeAttr("checked");
                            }
                        });
                    } else {
                        $.ajax({
                            url: "/api/todoitems/" + checkbox.attr("data-item-id") + "/check",
                            method: "PUT",
                            success: function() {
                                checkbox.attr("checked", "checked");
                            }
                        });
                    }
                });

            $("#todo-items").on("click",
                ".js-delete",
                function() {
                    var button = $(this);
                    bootbox.confirm({
                        message: "Are you sure that you want to delete the to-do item?",
                        buttons: {
                            confirm: {
                                label: "Yes",
                                className: "btn-danger"
                            },
                            cancel: {
                                label: "No",
                                className: "btn-link"
                            }
                        },
                        callback: function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/todoitems/" + button.attr("data-item-id"),
                                    method: "DELETE",
                                    success: function() {
                                        button.parents("li.list-group-item").remove();
                                    }
                                });
                            }
                        }
                    })
                });
        });
    </script>
}