@model Checklists.ViewModels.TaskFormViewModel

@{
    ViewBag.Title = Model.PageTitle;
}

<div class="page-header">
    <h2>@Model.PageTitle</h2>
</div>

@using (Html.BeginForm("Save", "Tasks"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new {@class = "form-control"})
        <span>
            @Html.ValidationMessageFor(m => m.Title)
        </span>
    </div>

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.ChecklistId)

    <ul class="list-inline">
        <li>
            <button class="btn btn-primary" type="submit">Save</button>
        </li>
        <li>
            @Html.ActionLink("Cancel", "Index", "Tasks", new{Id = @Model.ChecklistId}, new {@class="btn btn-link"})
        </li>
    </ul>
}
